

.edit {

    .selected{
        color: @blue;
    }
    .interactive{
        cursor: pointer;
    }
    .active {
        color: @blue;
    }

    .btn-feature-select {
        &.checked {.btn-color(red, red, @white);}
        &.unchecked {.btn-color(blue, blue, @white);}
    }

    .sidebar .select {
        .selecteditems {
            .absolute(0, 0, 50%, 0);
            overflow-y: auto;

            .selectheader {
                display: flex;
                justify-content: space-between;
                margin-bottom: @margin;
            }
        }

        .styletools {
            .absolute(50%, 0, 0, 0);
            overflow-y: auto;
            border-top: 1px solid #000;
        }
    }
}
