@import "../../style/waend.less";

.edit {
    .mode {
        .absolute(0,0, initial,30vw);
        z-index: 1000;
        span {
            cursor: pointer;
            padding-right: 1em;
        }
    }

    .sidebar {
        .absolute(0, 70vw, 0, 0);
        border-right: 1px solid #000;
        padding: @margin;
        overflow-y: auto;
    }
    .map {
        .absolute(0, 0, 0, 30vw);

        .map-view{
            .absolute(0,0,0,0);
            z-index: 0;
            // background-color: #B2FF97;
        }
        .map-overlay{
            .absolute(0,0,0,0);
            z-index: 10;
            background-color:transparent;
        }
        .map-interactions{
            .absolute(0,0,0,0);
            z-index: 100;
            background-color:transparent;

            .zoom-in {
                cursor: pointer;
                font-size: 30px;
                font-weight: bold;
            }
            .zoom-extent {
                cursor: pointer;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }

    .selected{
        color: blue;
    }
    .interactive{
        cursor: pointer;
    }
    .active {
        color: rgba(255, 0, 4, 0.90);
    }
}
