@import "../../style/waend.less";
@import "select.less";

@headerH : 2rem;
@sidebarW : 350px;



.edit {

    .header {
        .absolute(0, 0, initial, 0);
        height: @headerH;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #000;
    }

    .mode {
        .absolute(@headerH,0 , initial, @sidebarW);
        z-index: 1000;
        span {
            cursor: pointer;
            padding-right: 1em;
        }
    }

    .sidebar {
        .absolute(@headerH, initial, 0, 0);
        width: @sidebarW;
        border-right: 1px solid #000;
        padding: @margin;
        overflow-y: auto;
    }
    .map {
        .absolute(@headerH, 0, 0, @sidebarW);

        .map-view{
            .absolute(0,0,0,0);
            z-index: 0;
            // background-color: #B2FF97;
        }
        .map-overlay{
            .absolute(0,0,0,0);
            z-index: 10;
            background-color:transparent;
        }
        .map-interactions{
            .absolute(0,0,0,0);
            z-index: 100;
            background-color:transparent;

            .zoom-in {
                cursor: pointer;
                font-size: 30px;
                font-weight: bold;
            }
            .zoom-extent {
                cursor: pointer;
                font-size: 30px;
                font-weight: bold;
            }
        }
    }

    .selected{
        color: @blue;
    }
    .interactive{
        cursor: pointer;
    }
    .active {
        color: @blue;
    }

    .btn-feature-select {
        &.checked {.btn-color(red, red, @white);}
        &.unchecked {.btn-color(blue, blue, @white);}
    }
}
